//////////////////////////////////////////////////////////////////////////////////////////
// COLORS

$color-brand: rgb(254,18,99);

$color-green: rgb(1,194,112);
$color-red: rgb(249,249,61);

$color-white: #ffffff;
$color-light-grey: #f5f5f5;
$color-medium-grey: #bbbbbb;
$color-grey: #818181;
$color-dark-grey: #444444;
$color-black: #222222;