//  Wireframe Colors
// ----------------------------------------------------------------------------------  //

$wf-black: #3A3D42;
$wf-gray-1: #A0A8BD;
$wf-gray-2: #F0F1F5;
$wf-gray-3: #A0A8BD;
$wf-gray-4: #7B808C;
$wf-gray-5: #7B808C;