.chat-item {
  width:100%;
  flex: 0 0 auto;
  padding: calc-em(10px) 0;
}

// .chat-item:first-child {
//   padding-top: 12vh;
// }

.chat-item--inner {
  width:100%;
  display:flex;
  position: relative;
  flex-direction: row;
}

.chat-item--inner--left {
  flex: 0 0 auto;
}

.chat-item--inner--right {
  flex: 1 1 auto;
  display: flex;
  position: relative;
  flex-direction:column;
  padding-right: calc-em(10px);
}

.chat-item--inner--meta {
  width:100%;
  flex:0 0 auto;
  display:flex;
  flex-direction: row;
  align-items:flex-end;
}

.chat-item--inner--avatar {
  display:block;
  width: calc-em(36px);
  height: calc-em(36px);
  background-color: $chat-avatar;
  margin: 0 calc-em(13px);
  border-radius: calc-em(8px);
  overflow:hidden;
  img {
    width: calc-em(36px);
    height: calc-em(36px);
  }
}

.chat-item--inner--meta--username {
  flex: 0 0 auto;
  font-weight: 600;
  color: $color-dark-grey;
}

.chat-item--inner--meta--time {
  @extend .font-size-small;
  font-family: $chat-family;
  flex: 0 0 auto;
  font-weight: 400;
  margin-left: calc-em(5px);
  color: $color-medium-grey;
  position: relative;
  top: -2px;
}

.chat-item--inner--message {
  width:100%;
  flex: 0 0 auto;
  padding:0;
  margin-top: calc-em(1px);
}

.chat-item--inner--message--content {
  @extend .font-size-default;
  color:$color-dark-grey;
  font-family: $chat-family;
  width:100%;
  position:relative;
  word-wrap: break-word;
  line-height: 1;
}


.chat-item--inner--message--content--image {
  max-width:70%;
  display:block;
  position:relative;
  float:left;
  overflow: hidden;
}

.chat-item--inner--message--content--image div{
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
}



