// The double nesting of lists hers is bevause if we ever wanted 
//  to support Firefox on web well.
.chat-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chat-list--inner {
  padding: 10px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transition: all 200ms ease;
  transform: translate3d(0,0,0);
}

.chat-list--inner--list {
  width: 100%;
  max-height: 100vh;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

// unseen messages
.chat-list--unseen-messages {
  width: 100%;
  background-color: $chat-list-unseen-messages;
  bottom: 0;
  padding: 8px;
  text-align: center;
  position: absolute;
  z-index: 10;
  left: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.chat-list--unseen-messages--text {
  color: #FFF;
  display: inline-block;
  font-size: 15px;
}

// user typing

.chat-list--users-typing {
  width:100%;
  text-align:center;
  padding: 12px 0;
  transition: all 200ms ease;
  transform: translate3d(0,0,0);
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.chat-list--users-typing--text {
  margin-left:5px;
  display:inline-block;
  color:#999999;
  font-weight:400;
  font-size:13px;
}

