@import "mixins";

$font-size: 16px;
$break-phone: 600px;
$break-tablet-s: 767px;
$break-tablet-p: 960px;
$break-tablet-l: 1140px;
$break-desktop: 1441px;
$break-desktop-l: 1600px;

.flex-row-center {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);
  > * {
    @include flex(0 0 auto);
  }
}