//////////////////////////////////////////////////////////////////////////////////////////
// IMPORTS

@import "./css/reset";
@import "./css/mixins";
@import "./css/colors";
@import "./css/typography";

@import "./css/chat-input";
@import "./css/chat-list";
@import "./css/chat-item";
@import "./css/giphy-browser";
@import "./css/chat-header";

//////////////////////////////////////////////////////////////////////////////////////////
// ROOM STYLES

body, html {
  overflow:hidden;
  height:100%;
  min-height:inherit;
  position:fixed;
  width:100%;
  top:0;
  left:0;
}

#app {
  position:absolute;
  background-color:#FFF;
  width:100%;
  height:100%;
  top:0;
  left:0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  max-width: 100vw;
}

.chat {
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
  position: relative;
  top:0;
  left:0;
  background-color: $chat-bg;
}

.chat-users {
  position:fixed;
  top:10%;
  height:80%;
  display:block;
  width:60px;
  right:0;
  background-color:red;
}

button {
  background-color:transparent;
  border:none;
}

.initial-load-container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #FFFFFF;
}

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	width: 100px;
	text-align: center;
	font-size: 1.2em;
	color: #555;
}

$delays: 0 125ms 250ms .375s;
@for $i from 1 through 4 {
	.circle#{$i} {
		animation: bounce linear 2.2s infinite forwards;
		animation-delay: nth($delays, $i);
	}
}

@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
	}
	20%, 50% {
		transform: translateY(9px);
	}
	80% {
		transform: translateY(2px)
	}
	40% {
		transform: translateY(-15px);
	}
	60% {
		transform: translateY(-7px);
	}
}
